main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#workerPic {
	width: var(--mainWidth);
}

#resumen {
	width: var(--mainWidth);
}

#resumen>h1 {
	text-align: center;
}

#resumen>p {
	text-align: justify;
}